.m-project-preview {
  border-radius: 1.5rem;
  overflow: hidden;
  position: relative;

  img {
    transition: transform $transition-style;
  }

  .m-project-preview__text {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: $white;
    background: transparent;
    padding-right: 3rem;
    padding-left: 3rem;
    text-align: center;
    opacity: 0;
    transition: opacity $transition-style, transform $transition-style;
  }

  &:hover {

    img {
      transform: scale(1.2);
    }

    .m-project-preview__text {
      opacity: 1;
      background-color: $dark-grey;
    }
  }

}